<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquerry.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <link rel="stylesheet" href="/stylesheets/style.css"   type="text/css" media="screen" charset="utf-8" />
  <link rel="Shortcut Icon" type="image/x-icon" href="cathayicon.png">
  <link href='http://fonts.googleapis.com/css?family=cwTeXYen' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container contact-form">
            <div class="contact-image">
              <!-- <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/> -->
                <img class="mb-4" src="cathay.png" alt="" width="auto" max-height="100%" />
                <h4 class="chinese" style="margin:auto; color: #125092;font-size: 20;font-weight: 700;">2019 財投感謝牆</h4>
            </div>

            <form method="post" style="padding: 3%;padding-bottom: 10%;";>

            <!-- error message -->
                    {% if error %}
                    <div class="alert alert-danger">{{error}}</div>
                    {% endif %}

                <!-- <a id="btn-wall" href="/TextBoard" class="btn btn-success">View Messages</a> -->
               <div class="row">
                    <div class="col-sm-12 col-md-6" >
                        <div class="form-group" style="border:none">
                            <input type="text" name="yourname" class="form-control" style="
                                border: none;
                                border-bottom: 1px solid #aaa;border-radius: 0"placeholder="您的暱稱 *" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="yourdepartment" class="form-control" style="
                                border: none;
                                border-bottom: 1px solid #aaa;border-radius: 0"placeholder="您的部門 *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="receiver" class="form-control"style="
                                border: none;
                                border-bottom: 1px solid #aaa;border-radius: 0" placeholder="想寫給誰 *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="receiverdepartment" class="form-control"style="
                                border: none;
                                border-bottom: 1px solid #aaa;border-radius: 0" placeholder="對方部門 *" value="" />
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-6" style="text-align: center;">
                        <div class="form-group"style="margin-bottom: 5%;">

                            <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>

                            {% if textoutlimit %}
                            <p style="font-size: 1;color: red;text-align: right;margin-left: 20%;">
                            <small >*the context is limited to 100 words</small>
                            <br>
                            <small >now you have {{textoutlimit}} words</small>
                            </p>
                            {% endif %}

                        </div>

                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" style="width:90%;" />
                        </div>

                    </div>

                </div>
                <p style="font-size: 1;color: red;text-align: right;margin-left: 10%;padding: 5%">
                  <small >*The message you send is unretrievable please check the context before you send it</small>
                </p>
            </form>

</div>
</body>

</html>
