<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="/stylesheets/style.css"   type="text/css" media="screen" charset="utf-8" />
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquerry.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <!-- <link rel="stylesheet" href="/stylesheets/style.css"   type="text/css" media="screen" charset="utf-8" /> -->
  <link rel="Shortcut Icon" type="image/x-icon" href="cathayicon.png">
  <link href='http://fonts.googleapis.com/css?family=cwTeXYen' rel='stylesheet' type='text/css'>
  <!-- <img class="mb-4" src="cathay.png" alt="" width="auto" max-height="100%" /> -->
</head>
<body style="background: url(/背景3.png) center top no-repeat;">
	<div style="padding-top:30%">
		<h4 style="text-align: center">資料送出成功<br>1/16歡迎您的到來</h4>
		<h4 style="text-align: center">若要修改訊息請洽羅明軒<br> 分機:</h4>

	</div>
</body>

</html>