<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/reveal.css"  />
		<link rel="stylesheet" href="/stylesheets/theme/sky.css" />
	  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 	  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				{% for row in range(Data.index|length) %}
				<section>
					<h4 style= "margin-right: 40%;">To&nbsp;&nbsp;&nbsp;&nbsp;{{Data.loc[row,'Receiverdepartment']}}&nbsp;&nbsp; {{Data.loc[row,'Receiver']}} :</h3>
					<h3 style ="width:600px;text-align:center;margin-left: 200px;">{{Data.loc[row,'Context']}}</h4>
					<h4 style= "margin-left: 40%;;">From&nbsp;&nbsp;&nbsp;&nbsp;{{Data.loc[row,'Yourdepartment']}}&nbsp;&nbsp; {{Data.loc[row,'Yourname']}}</h3>
					<p style="margin-top: 20%;">
						<small> <a href="/">還想說些什麼~?</a></small>
					</p>
				</section>
				{% endfor %}
			</div>
		</div>
		<script src="/js/reveal.js"></script>
		<script>
			Reveal.configure({
				  autoSlide: 5000
				});
			Reveal.initialize({loop: true,transition: 'convex', backgroundTransition: 'zoom' });
		</script>
	</body>
</html>